body {
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
}

#logo {
    height: 31;
    margin: 0 15px;
}

#header_center {
    flex-grow: 1;
}

#search_bar {
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 10px 25px;
    padding: 2px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#search {
    border: none;
    padding: 8px;
    outline: none;
    flex-grow: 1;
}

#close {
    color: #8c9196;
    fill: currentColor;
    padding: 7px;
}

#mag {
    color: #106dca;
    fill: currentColor;
    padding: 7px;
    border-left: 1px solid #dfe1e5;
}

#header_top_right {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#apps {
    color: #8c9196;
    fill: currentColor;
}

#sign_in {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3), 0 1px 3px 1px rgba(66,133,244,0.15);
    border: 1px solid transparent;
    border-radius: 4px;

    font-size: 11;
    vertical-align: middle;
    text-align: center;

    margin-left: 8px;
    margin-right: 8px;
    padding: 7px 18px;
}

#filters {
    display: flex;
    align-items: center;
    font-size: 12;
    color: #4e5155;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    margin: auto;
}

.filter_item {
    display: inline-flex;
    align-items: center;
    margin: 5 0;
    height: 10%;
}

.filter_item svg {
    color: #71757a;
    fill: currentColor;
    width: 18;
    margin: 0 5;
}

svg.filter_item {
    margin: 3 7;
}

#settings {
    margin-left: 20;
}

.setting_item {
    margin: 0 7;
}

#separator {
    width: 100%;
    border-bottom: 1px solid #e2e7ec;
    position: relative;
}

#result_stats, #results {
    margin-left: 170;
    font-size: 13;
    color: #4e5155;
}

#result_stats {
    margin-top: 8;
}

#results {
    list-style-type: none;
    margin: inherit 0 0 0;
    padding: 0 0;
}

#results li {
    max-width: 666;
    margin-top: 20;
    margin-bottom: 20;
}

#results li div {
    margin-top: 7;
}

.address {
    color: #222324;
}

.title {
    font-size: 20;
    color: #1a0dab;
}

.summary {
    margin-bottom: 44;
}

.also div {
    font-size: 15;
    color: #000000;
    border-bottom: 1px solid #e2e7ec;
    padding: 12 0;
}

.also div svg, .also svg {
    float: right;
    color: #8c9196;
    fill: currentColor;
}

div#also_title {
    font-size: 20;
}

.address svg {
    color: #8c9196;
    fill: currentColor;
    position: relative;
    top: 8;
}

#related_header div img {
    width: 40;
    margin-right: 24;
}

.related_icon {
    display: inline-flex;
    align-items: center;
    width: 96%;
}

#related div {
    background-color: #d6d6d63b;
    display: flex;
    align-items: center;
    padding: 10;
    box-shadow: none;
    border-radius: 24px;
    min-height: 32;
    font-size: 14;
    font-weight: bold;
    color: black;
}

#related div svg {
    color: #8c9196;
    fill: currentColor;
    margin: 0 10;
}

#related {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 13px;
}

#pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.page_icon {
    display: inline-block;
    background: url("nav_logo.webp") no-repeat;
    background-position: -74 0;
    width: 19px;
    height: 40px;
}

#page_g {
    background-position: -24px 0;
    width: 28px;
    height: 40px;
}

#page_current {
    background-position: -53px 0;
}

#page_gle {
    background-position: -96px 0;
    width: 71px;
    height: 40px;
}

#next_page {
    color: #0d52ab;
}

#footer {
    background-color: #f2f2f2;
    width: 100%;
    font-size: 14;
    color: #70757a;
}

#footer_top {
    border-bottom: 1px solid #8e9094;
    padding: 14 0;
}

#footer_top, #footer_bottom {
    margin-left: 170;
}

#country {
    border-right: 1px solid #8e9094;
    padding: 0 8;
    margin-right: 8;
}

span#location {
    color: black;
}

#footer_bottom {
    padding: 15px 8;
}

#footer_bottom a {
    color: #70757a;
    padding: 15px;
}